@use "../styles/mixins.scss";
@use "../styles/variables.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  width: 100%;
  max-width: calc(300px * 5);
  gap: 50px;
  min-height: 100px;
  padding: 20px;
}

.countries__wrapper {
  min-height: calc(100svh - 200px);
}

.header {
  width: 100%;
  min-height: 60px;
  background-color: variables.$white;
  box-shadow: 0 2px 4px variables.$grey-50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
  box-shadow: 0 2px 10px rgb(217, 217, 217);
}

.header__button {
  background-color: transparent;
  border: none;
  padding: 7px;
  font-weight: 700;
}
