<header class="header">
  <h2>Where in the World? ({{ countries.length }})</h2>
  <button class="header__button" (click)="toggleMode()">
    {{ mode.toString().at(0)?.toUpperCase() + mode.toString().slice(1) }} mode
  </button>
</header>

<section class="wrapper">
  <app-search-input (onSearch)="searchForCountry($event)"></app-search-input>
  <app-filter-input
    [regions]="regions"
    (select)="handleSelect($event)"
  ></app-filter-input>
</section>

<app-country-items
  [countries]="countries"
  class="wrapper countries__wrapper"
></app-country-items>
