@mixin flexBox($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin controls {
  border: none;
  background-color: var(--color-input);
  outline: none;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 7px;
  padding: 15px 25px;
}
