@use "./variables.scss";
@use "./mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  background-color: variables.$grey-50;
}

.app {
  width: 100%;
  @include mixins.flexBox(column);
}

button {
  cursor: pointer;
}
